@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.9);
}

small {
  color: #cf1313;
  font-size: 1.2rem;
}

.is-valid {
  border: 3px solid #2c9c32;
}

.is-invalid {
  border: 3px solid #cf1313;
}

.contact__info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact__info h2,
.contact__info h3 {
  font-weight: normal;
  font-size: 64px;
  margin: 0;
}

.contact__header {
  justify-content: space-between;
  align-items: baseline;
  height: 200px;
  width: 100%;
}

#main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.photograph-header {
  background-color: #fafafa;
  height: 313px;
  margin: 10px 5em;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.photographer__info .profile__info--name {
  color: #D3573C;
  font-size: 64px;
  margin: 0;
}
.photographer__info .profile__info--location {
  color: #D3573C;
  font-size: 24px;
  font-weight: 400;
  margin: unset;
}
.photographer__info .profile__info--tag {
  margin: unset;
  margin-top: 3px;
  font-size: 18px;
  font-weight: 400;
}

.photographer__img img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.filter {
  display: inline-flex;
}
.filter__by {
  padding: 20px 0 0 5em;
  font-size: 18px;
  margin-right: 1.5em;
  font-weight: 700;
}
.filter__selected {
  display: none;
  margin: 0;
  padding: 0;
  background-color: #901C1C;
  border-radius: 5px;
}
.filter__selected > li {
  list-style: none;
  display: flex;
  align-items: center;
  width: 170px;
  font-size: 18px;
  height: 34px;
  font-weight: 700;
  color: white;
  background-color: #901C1C;
  min-height: 60px;
}
.filter__selected > li#popularity {
  display: flex;
  justify-content: space-evenly;
}
.filter__selected > li.shortFilter {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid white;
}

.invisible {
  visibility: hidden;
}

.wrapper {
  position: relative;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #901C1C;
  border-radius: 5px;
}
.wrapper__toggle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 170px;
  font-size: 18px;
  line-height: 1;
  border: 0;
  border-style: unset;
  border-radius: 5px;
  height: 34px;
  font-weight: 700;
  color: white;
  background-color: #901C1C;
  min-height: 60px;
}
.wrapper__toggle--arrow {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s linear;
  pointer-events: none;
}

.expended {
  transform: rotate(-180deg);
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column-gap: 2em;
  grid-row-gap: 6px;
  margin: 100px 0;
}
.portfolio__info {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.portfolio__info img {
  height: 400px;
  width: 450px;
  object-fit: cover;
}
.portfolio__info video {
  height: 400px;
  width: 450px;
  object-fit: cover;
}
.portfolio__info--caption {
  color: #901C1C;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.portfolio__info i {
  margin-left: 5px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
.contact_button:hover, .contact_button:focus {
  background-color: #D3573C;
}

.static-insert {
  position: fixed;
  bottom: 0;
  right: 36px;
  font-size: 24px;
  font-weight: 500;
  background-color: #db8876;
  padding: 21px 34px;
  border-radius: 5px 5px 0 0;
}
.static-insert__likes {
  margin-right: 67px;
}
.static-insert .total-hearts {
  padding-right: 5px;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form label {
  color: #312e2e;
  font-size: 36px;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
}
form input:focus-visible {
  outline: unset;
}
form textarea {
  width: 100%;
  height: 170px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
}
form textarea:focus-visible {
  outline: unset;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.logo {
  height: 50px;
  margin-left: 5em;
}

h1 {
  color: #901C1C;
  margin-right: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographer_section article {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.photographer_section article a {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.photographer_section article .profile__picture {
  border-radius: 50%;
}
.photographer_section article .profile__info {
  text-align: center;
}
.photographer_section article .profile__info--name {
  color: #D3573C;
  font-size: 36px;
}
.photographer_section article .profile__info--location {
  color: #D3573C;
  font-size: 15px;
  font-weight: 400;
  margin: unset;
}
.photographer_section article .profile__info--tag {
  margin: unset;
  margin-top: 3px;
  font-size: 13px;
  font-weight: 400;
}
.photographer_section article .profile__info--price {
  color: #525252;
  font-weight: 400;
  font-size: 12px;
  margin: unset;
  margin-top: 3px;
}
.photographer_section article img {
  height: 200px;
  width: 200px;
}

/*# sourceMappingURL=style.css.map */
