$primary-color : #D3573C;
$primary-bgcolor : #901C1C;
$hover-button: #b92828c0;
$secondary-bgcolor: #D3573C;
$secondary-color: #901C1C;
$tags-border-color : #C4C4C4; 
$prices-color : #525252;
$insert-profile-background-color : #fafafa;
$modal-bgcolor: #db8876;